#############################################################################################
# 05_debug.cfg
# Defaults settings for debug settings etc. see also dracut.cmdline (7)
#
# Linux kernel's command-line parameters list
#              https://docs.kernel.org/admin-guide/kernel-parameters.html
#############################################################################################
# Resources:
# - https://docs.fedoraproject.org/en-US/quick-docs/debug-dracut-problems/
#
# If you are dropped to an emergency shell, the file /run/initramfs/rdsosreport.txt
# is created, which can be saved to a (to be mounted by hand) partition (usually /boot)
# or a USB stick.
# Additional debugging info can be produced by adding rd.debug to the kernel command line.
# /run/initramfs/rdsosreport.txt contains all logs and the output of some tools.
#

### Below options for NO debug shell and minimal information
# /!\ comment if you wish to allow an emergency shell (and uncomment below)

# # NO emergency shell if root mounting fails
# rd.shell=0
# # what action to execute in case of a critical failure.
# rd.emergency=reboot
# # Prevent sensitive kernel information leaks in the console during boot.
# # MUST be used in combination with the kernel.printk sysctl
# quiet
# loglevel=0

### Below options for allowing a debug emergency shell
# /!\ uncomment accordingy (after commenting all options above)

# print informational output though "quiet" is set
# rd.info

# Emergency shell if root mounting fails
rd.shell

# set -x for the dracut shell.
# rd.debug log_buf_len=1M

# Drop the shell on defined breakpoint.
# To find the breakpoints supported by your dracut version:
#    egrep 'rd.?break=' /usr/lib/dracut/modules.d/99base/init.sh | sed "s/getargs 'rd\.break=\(.*\)'.*$/\1/g"
# rd.break=[cmdline|pre-udev|pre-trigger|initqueue|pre-mount|mount|pre-pivot|cleanup]

# Print memory usage info at various points, set the verbose level from 0 to 5.
# 0 - no output
# 1 - partial /proc/meminfo
# 2 - /proc/meminfo
# 3 - /proc/meminfo + /proc/slabinfo
# 4 - /proc/meminfo + /proc/slabinfo + memstrack summary
#     NOTE: memstrack is a memory tracing tool that tracks the total memory
#           consumption, and peak memory consumption of each kernel modules
#           and userspace progress during the whole initramfs runtime, report
#           is generated and the end of initramfs run.
# 5 - /proc/meminfo + /proc/slabinfo + memstrack (with top memory stacktrace)
# rd.memdebug=0

# Set udev to loglevel info: err (default), info, debug}
# rd.udev.info=debug
