#############################################################################################
# 10_console.cfg
# Defaults settings for debug, i18n console settings etc. see also dracut.cmdline (7)
#
# Linux kernel's command-line parameters list
#              https://docs.kernel.org/admin-guide/kernel-parameters.html
#############################################################################################

### I18N
# Keymap - FR
rd.vconsole.keymap=azerty
rd.locale.LANG=en_US.UTF-8
