#############################################################################################
# 30_amdgpu.cfg
# Special kernel parameters for amdgpu - an open source graphics driver for AMD
# Radeon graphics cards since the Graphics Core Next family.
# see https://en.wikipedia.org/wiki/AMDGPU
#############################################################################################
#

#  https://blabli.blog/post/2023/03/14/nixos-amd-raphael-igpu-screen-issues/
amdgpu.sg_display=0

## Troubleshooting/Adress frozen or unresponsive display (flip_done timed out)
## https://wiki.archlinux.org/title/AMDGPU (section 6.11)
amdgpu.dcdebugmask=0x10

