#############################################################################################
# 50_network.cfg
# Adapted from the following resources:
# - Linux Kernel Self-Protection Project (KSPP): https://kspp.github.io/Recommended_Settings
# - Kicksecure security-misc: https://github.com/Kicksecure/security-misc.git
# Linux kernel's command-line parameters list
#              https://docs.kernel.org/admin-guide/kernel-parameters.html
#############################################################################################
# Various Network hardening

## Definitions:
## KSPP=yes: compliant with recommendations by the KSPP
## KSPP=partial: partially compliant with recommendations by the KSPP
## KSPP=no: not (currently) compliant with recommendations by the KSPP
## If there is no explicit KSPP compliance notice, the setting is not mentioned by the KSPP.

## Disable the entire IPv6 stack functionality.
## Removes attack surface associated with the IPv6 module.
##
## https://docs.kernel.org/networking/ipv6.html
## https://wiki.archlinux.org/title/IPv6#Disable_IPv6
##
## Enabling makes redundant many network hardening sysctl's in /usr/lib/sysctl.d/990-security-misc.conf.
##
ipv6.disable=1
